@import "styles/utils.scss";

.header {
  flex-grow: 1;

  .logo {
    color: white;
    font-weight: 800;
    font-size: 1.5rem;

    cursor: pointer;

    margin-left: 1rem;

    user-select: none;
  }

  .logout {
    margin-left: auto;
    margin-right: 1rem;
    color: white;

    font-weight: 800;
    font-size: 2rem;

    cursor: pointer;
  }
}

.grow {
  flex-grow: 1;
}
